<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Test1" value="xx1"/>
    <add key="SubObject1.TestInt1" value="99"/>
    <add key="StringValues.ValX" value="x"/>
    <add key="StringValues.ValY" value="y"/>
    <add key="StringValues.ValZ" value="z"/>

    <add key="IntValues.Val1" value="1"/>
    <add key="IntValues.Val2" value="2"/>
    <add key="IntValues.Val3" value="3"/>

    <add key="Cfg.Test1" value="xx2"/>
    <add key="Cfg.SubObject1.TestInt1" value="88"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
